---
- name: Set facts
  include: facts.yml

- name: Install openjdk
  apt: name="openjdk-7-jre-headless" state=present


- name: Manage certificates to enable SSL 
  stat: path=marathon.key
  register: marathon_key
- block:

    - name: generate keystore
      vars:
        key_password: "{{marathon_key_password}}"
        pkcs_password: "{{marathon_jks_password}}"
        jks_password: "{{marathon_jks_password}}"
      include: enable_ssl.yml
    
  when: marathon_enable_ssl == True and marathon_key.stat.exists == False
  tags: marathon


- name: create etc directory
  file: state=directory path=/etc/marathon
  tags: marathon

- name: "Create marathon container env file"
  template:
    src={{marathonenv_template}} dest=/etc/marathon/.marathonenv
  tags: marathon

- name: run marathon container
  docker_container:
    name: marathon
    image: "{{ marathon_image }}"
    state: started
    detach: true
    restart_policy: always
    network_mode: host
    volumes:
    - "{{ marathon_keystore_path }}:{{ marathon_keystore_path }}"
    env_file: /etc/marathon/.marathonenv
  tags: marathon


- name: register marathon service with curl check
  uri: 
     url: "http://localhost:8500/v1/agent/service/register"
     validate_certs: "no"
     method: PUT
     HEADER_Content-Type: "application/json"
     body: "{{ lookup('template', 'templates/marathon-service.json') }}"
     body_format: json
  register: result
  until: result.status == 200
  retries: 3
  delay: 10
  changed_when: false
  when: service_discovery == "consul"
  tags:
    - marathon


#
##  consul:
##    service_name: marathon
##    service_port: "{{marathon_https_port}}"
##    script: "curl -k -u {{marathon_username}}:{{marathon_password}} https://{{marathon_hostname}}:{{marathon_https_port}}"
##    interval: 10s
##    tags: marathon
#

