LIBPROCESS_IP={{ marathon_libprocess_ip }}
MARATHON_HOSTNAME={{ marathon_hostname }}
MARATHON_MASTER={{ marathon_master_peers }}
MARATHON_ZK={{ marathon_zk_peers }}/{{ marathon_framework_name }}
MARATHON_FRAMEWORK_NAME={{ marathon_framework_name }}
MARATHON_HTTPS_PORT={{ marathon_https_port }}
MARATHON_SSL_KEYSTORE_PASSWORD={{ marathon_jks_password }}
MARATHON_SSL_KEYSTORE_PATH={{ marathon_keystore_path }}
MARATHON_HTTP_CREDENTIALS={{marathon_username}}:{{marathon_password}}
{% if marathon_features %}
MARATHON_ENABLE_FEATURES={{marathon_features|join(',')}}
{% endif %}
